/*//导航*/
.nav{position:fixed;top:100px;right:20px;width:120px;padding:20px 25px 10px;z-index: 10;}
.nav i{padding:5px;border-radius: 50%;background: #32a5e7;text-align: center;;line-height: 16px;color: #fff;margin-right: 10px;}
.nav li{margin-bottom: 10px;}
.nav li a{background:rgb(236,147,230);border-radius:20px;padding:10px;box-shadow:0 4px 8px #666,inset 0 0 4px rgb(128,128,255);position:relative;top:0;}
.nav li a:hover{box-shadow:0 4px 8px #666,inset 0 0 4px rgb(128,128,255);}
.nav li a:active{top:4px;box-shadow:0 2px 2px #666,inset 0 0 10px rgb(128,128,255);}
.nav li a{color:#555;font:16px/22px 'Microsoft YaHei';display: block;}
.nav li.current a{top:4px;box-shadow:0 2px 2px #666,inset 0 0 10px rgb(128,128,255);color: #fff;}
html,body{height: 100%;}

/*全屏*/
.cont-box{width:100%;overflow: hidden;position: absolute;top:0;left:0;/*height: 100%;*/}
.cont-box>div{position:absolute;top:0;left:0;width:100%;background:rgba(190, 100, 41,0.5);position: relative;}
.cont-box,.cont-box>div{-webkit-transition:1s all;-moz-transition:1s all;-ms-transition:1s all;-o-transition:1s all;transition:1s all;}
.cont-box>div:nth-child(2){background:rgba(57,141,267,0.7);}
.cont-box>div:nth-child(3){background:rgba(0,179,109,0.7);}
.cont-box>div:nth-child(4){background:rgba(0,0,0,0.8);}
.cont-box>div:nth-child(5){background:rgba(82,99,197,0.7);}
.cont-box>div:nth-child(6){background:rgba(12,66,178,0.7);}
.cont-box>div.current{opacity:1;display: block;height: 100%;}
/*.box{position: relative;overflow: hidden;}*/
body{overflow: hidden;}
.illustration{position:fixed;top:0;left:0;z-index:20;width:200px;padding:20px;font:16px/26px 'Microsoft YaHei';color: rgb(52,133,251);background:#ffd;}
.illustration p{margin-bottom: 10px;}
.illustration i{position: absolute;top:-10px;right:-10px;width:30px;height: 30px;border-radius: 50%;text-align:center;line-height:30px;background: rgba(250,250,0,0.8);cursor: pointer;}
/*page1*/
.page1 .user{position: absolute;top:40%;left:50%;-webkit-transform:translate(-50%,-50%);-moz-transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);-o-transform:translate(-50%,-50%);transform:translate(-50%,-50%);text-align: center;}
.user li{margin-bottom: 10px;font:18px/26px 'Microsoft YaHei';color: #444;position: relative;}
.user li,.user .name,.user .work{-webkit-transition:1s all;-moz-transition:1s all;-ms-transition:1s all;-o-transition:1s all;transition:1s all;opacity:1;}
.user li:nth-child(1){width: 140px;height: 140px;overflow: hidden;border-radius: 50%;margin-bottom: 20px;position: relative;left:50%;margin-left: -70px;}
.user li:nth-child(1) img{width: 100%;}
.user li i{color: #929;}
.user li:nth-child(1).active{/*top:-50px;*/opacity:0;}
.user li:nth-child(2).active .name{/*position:absolute;left: -90px;top:0;*/opacity:0;}
.user li:nth-child(2).active .work{/*position: absolute;right:-90px;top:0;*/opacity:0;}
.user li:nth-child(3).active {/*bottom:-50px;*/opacity:0;} 

/*page2*/
.page2 ul{width: 1000px;margin:0 auto;height: 100%;/*background:purple;*/position: relative;}
.page2 li{position:absolute;bottom:20px;left:50%;width:180px;height: 180px;background:pink;border-radius:50%;text-align: center;line-height: 150px;font:bold 30px/180px 'Microsoft YaHei';margin:55px;-webkit-transition:1s all;-moz-transition:1s all;-ms-transition:1s all;-o-transition:1s all;transition:1s all;}
@keyframes test{
	to{
		transform:rotate(360deg);
	}
}
.page2 li:hover{box-shadow: 4px 0 4px red,0 -4px 6px yellow;animation:1s test linear infinite;}
.page2 a{position: absolute;top:20px;left:200px;z-index:11;width: 80px;background:yellow;height: 50px;text-align: center;font:18px/50px 'Microsoft YaHei';border-radius: 8px;color: blue;}
/*page3*/
.case-box{width: 1000px;height:100%;margin:0 auto;overflow: hidden;position: relative;}
.case-box ul{height: 500px;background:red;border:4px solid pink;border-top:none;}	
.case-box li{float:left;width: 1000px;height: 100%;overflow: hidden;}
.case-box li img{width: 100%;}
.case-box li a{display: block;}
.case-box div{position:absolute;bottom:10px;left:0;height: 156px;}
.case-box div span{display:inline-block;width:220px;height:100%;border:3px solid rgb(246,217,88);border-radius:10px;background:url(../images/s-jd.jpg);background-size: cover;margin-left:14px;}
.case-box ul,.case-box div span{-webkit-transition:.5s all;-moz-transition:.5s all;-ms-transition:.5s all;-o-transition:.5s all;transition:.5s all;}
.case-box div span:nth-child(2){background:url(../images/s-yinyt.jpg);}
.case-box div span:nth-child(3){background:url(../images/s-youk.jpg);}
.case-box div span:nth-child(4){background:url(../images/s-meit.jpg);}
.case-box div span.active{-webkit-transform:translate(0,-30px);-moz-transform:translate(0,-30px);-ms-transform:translate(0,-30px);-o-transform:translate(0,-30px);transform:translate(0,-30px);}

/*page5*/
.page5 ul{width: 930px;height:100%;margin:0 auto;background:rgba(249,117,19,0.3);position: relative;}
.bookshelf{padding:0 48px 0 ;margin:20px 0;}
.bookshelf li{float: left;width: 230px;height:260px;overflow:hidden;margin:40px 40px 30px 40px;background:rgba(249,117,19,0.5);cursor:pointer;}
.bookshelf li span{font:20px/260px 'Microsoft YaHei';margin-left:60px;color:#222;}

/*page4*/
.page4 .effect-box{width: 1000px;margin:0 auto;position: relative;}
.page4 ul{width:300px;height:300px;margin:100px auto;perspective:800px;position:relative;}
.page4 li{position:absolute;top:0;left:0;width:100%;height:100%;overflow:hidden;list-style: none;background:rgba(18,18,250,1);font-size:80px;color: #fff;text-align: center;line-height: 300px;font-weight:bolder;border:1px solid #ccc;transition:1s all cubic-bezier(0.46,-1.16, 0.46, 1.55);-webkit-box-reflect:below 10px -webkit-linear-gradient(rgba(255,255,255,0) 40%, rgba(255,255,255,0.5));}
.page4 li img{width: 100%;}
.page4 .cur{z-index: 10;opacity: 1;}
.page4 .l1,.r1{z-index:5;opacity: 0.8;}
.page4 .l1{transform:translateX(-200px) rotateY(60deg);}
.page4 .r1{transform:translateX(200px) rotateY(-60deg);}
.page4 .l2,.r2{opacity: 0;z-index: 2;}
.page4 .l2{transform:translateX(-270px) rotateY(60deg);}
.page4 .r2{transform:translateX(270px) rotateY(-60deg);}
.page4 .left,.page4 .right{display:inline-block;width: 70px;height: 30px;text-align:center;text-decoration: none;margin:24px 0 0 280px;background:#ccc;border:1px solid #333;font:24px/30px 'Microsoft YaHei';box-shadow: 2px 2px 4px #fcc;border:none;}
/*page6*/
.page6 .contact{width: 6px;margin:0 auto;background:blue;height:540px;position: relative;top:50%;-webkit-transform:translate(0,-50%);-moz-transform:translate(0,-50%);-ms-transform:translate(0,-50%);-o-transform:translate(0,-50%);transform:translate(0,-50%);}
.page6 .contact div{position: absolute;font:22px/36px 'Microsoft YaHei';color: #ff4;width:196px;padding:6px 10px;background:blue;-webkit-transition:2s all;-moz-transition:2s all;-ms-transition:2s all;-o-transition:2s all;transition:2s all;}
.page6 .contact .left{left:-226px;border-top-left-radius:5px;border-bottom-left-radius:5px;}
.page6 .contact .right{right:-226px;border-top-right-radius:5px;border-bottom-right-radius:5px;}
.page6 .contact .tel{top:30px;}
.page6 .contact .mail{top:144px;}
.page6 .contact .git{top:260px;}
.page6 .contact .blog{top:376px;}
.page6 .contact .left:hover{-webkit-transform:rotateX(360deg);-moz-transform:rotateX(360deg);-ms-transform:rotateX(360deg);-o-transform:rotateX(360deg);transform:rotateX(360deg);}
.page6 .contact .right:hover{-webkit-transform:rotateY(360deg);-moz-transform:rotateY(360deg);-ms-transform:rotateY(360deg);-o-transform:rotateY(360deg);transform:rotateY(360deg);}

.page6 .contact span{position:absolute;left:50%;margin-left:-9px;width:18px;height: 18px;background:#ccc;text-align: center;line-height: 10px;border-radius: 50%;}
.page6 .contact i{position:absolute;top:50%;left:50%;margin-top:-5px;margin-left:-5px;width:10px;height:10px;background:#fff;border-radius: 50%;}
.page6 .contact span{top:60px;}
.page6 .contact .second{top:170px;}
.page6 .contact .third{top:290px;}
.page6 .contact .four{top:400px;}































